
body {
  margin: 0;
}
h1 {
  background-color: #bbb;
  color: #fff;
  padding: 10px;
  border-bottom: 3px solid #ddd;
}
h1 img {
  vertical-align:middle;
  height: 1em;
  width: 1em;
  margin: 0 0.2em;
}
a {
  color: #0af;
}
a img {
  border: 1px solid #ccc;
}
ul {
  list-style: none;
}
ul#tabundle_list {
  padding: 0;
}
ul#tabundle_list li {
  padding: 20px;
  margin: 30px 10px;
}
ul#tabundle_list li br {
    clear: both;
}
.title a {
  text-decoration: none;
}
.capture {
  float:left;
  margin: 0 50px 0 0;
}
.capture img {
    max-width:300px
}
.url {
  font-size: 80%;
  text-decoration: none;
}
